.nav__item{
display: flex;
list-style: none;
}
.hero_block{
background: rgb(184, 182, 182);
}
.hero-block__container{
display: flex;
justify-content: space-betweens;
align-items: center;
padding: 90px 0 90px;
}
.container{
max-width: 1100px;
margin: 0 auto;
}
.about{
background-color: aliceblue;
}
.container__about{
    padding: 70px 0px  180px
}
.gallary__title{
    color: black;
    font-size: 48px;
    margin: 0;
    text-align: center;
    margin-bottom: 70px;
}
.gallary__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.gallary__img{
    width: 100%;
}
.gallary__item{
    width: 48%;
    margin-bottom: 20px;
}
.footer__title{
margin: 50 202 90;
}
.footer__subtitle{
margin: 101 234 55;
}
.footer__container{
display: flex;
list-style: none;
justify-content:space-between ;
align-items: center;
}
.footer__list{
display: flex;
list-style:none ;
gap: 40px;
align-items: center;
}